.ant-layout-content {
  // background-image: url("./terrazzo-bg.png");
}

.home {
  .ant-card-head-title {
    font-size: xx-large;
    font-family: "Inknut Antiqua", serif;
  }
}

h1.ctitle {
  font-size: xxx-large;
  font-family: "Inknut Antiqua", serif;
  margin-top: 2rem;
}
